# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
celeritas

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.diff

# Dependency directories (uncomment if needed)
# vendor/
# static/libs/

# Go workspace file
go.work
go.work.sum

# Env file
.env

# IDE Workspaces
.idea

# Config data
database.yml

# Runtime dirs
logs/
tmp/